.funcionalidades{
  width: 90%;
}
.img-card{
  width: 150px;
  height: 150px;
}
.img-card img{
  width: 128px;
  height: 128px;
}
.cads-func{
  padding-top: 100px;

  font-size: 20px;
  font-family: 'Alata', sans-serif;

  justify-content: flex-start !important;
  gap: 50px;
}
.cads-func a{
  text-decoration: none;
  color: #000;

  transition: 1s;
}
.cads-func a:hover{
  font-size: 24px;
  transition: 1s;
  color: #ff7259;
}