.nav-cadastro{
  width: 90%;
  margin-top: 10px;
  justify-content: space-between !important;
}
.icone-voltar img{
  width: 50px;
}
.text-cadastro{
  color: #1f1f1f;

  font-size: 48px;
  font-family: 'Bakbak One', cursive;
}

.logo-cadastro{
  font-size: 24px;
}