nav{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo{
  width: 60%;
  height: 150px;
  background-color: #5b7c87;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 180px 0;
  
  display: flex;
  align-items: center;
  gap: 25px;
  
  font-family: 'Alata', sans-serif;
  font-size: 24px;
  color: #fff;
}
.nav-logo div{
  margin-left: 20px;
}
.nav-button{
  gap: 40px;
}

.logo-cadastro a{
  color: #000;
}

.login{
  width: 100px;
  height: 40px;

  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  
  background-color: #5b7c87;
  transition: 1s;
}
.login:hover{
  transition: 1s;
  background-color: #FF7259;
}
.login a{
  color: #fff;
}

.cadastrar{
  width: 150px;
  height: 40px;

  border-radius: 30px;
  border: solid 1px; 
  
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: 1s;
}
.cadastrar:hover{
  transition: 1s;
  border: none;
  color: #fff;
  background-color: #5b7c87;
}