.section-sucess{
  height: 90vh;

  flex-direction: column;

  font-size: 48px;
  font-family: 'Bakbak One', cursive;
}
.section-sucess span{
  color: #FF7259;
}

.parabens{
  text-align: center;
  color: #FF7259;
}
.gif{
  margin-top: 50px;
}