@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bakbak+One&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

@import url("../styles/nav.css");
@import url("../styles/section.css");
@import url("../styles/d-left.css");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}